.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-textbox {
  width: 300px; /* You can adjust the width according to your preference */
  height: 20px; /* You can adjust the height according to your preference */
  padding: 5px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
 /* transform: translate(-50%, -50%);*/
  top: 50%;
  left: 50%;
}
.button-container button {
  
  padding: 10px 20px;
  background-color: #007bff; 
  color: #070606; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  background-color: #edf0f4; 
  color: #070606; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
